
<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">UNIFalsità</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link text-light" routerLink='/login'>Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink='/signup'>Sign Up</a>
        </li>
        <li *ngIf="logged"class="nav-item">
          <a class="nav-link text-light" routerLink='/{{role}}'>You</a>
        </li>
      </ul>
        <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-light">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>