<div class="row justify-content-center mt-5 pt-5">
    <div class="col-3">
        <form class="row shadow-lg p-3 mb-5 ">
            <h2>Please signup</h2>

            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input type="text" matInput [(ngModel)]="name" name="name" placeholder="Inserisci il nome">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Surname</mat-label>
                <input type="text" matInput [(ngModel)]="surname" name="surname" placeholder="Inserisci il cognome">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput [(ngModel)]="email" name="email" placeholder="Inserisci email">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput [(ngModel)]="password" name="password" placeholder="Inserisci password">
            </mat-form-field>

            <mat-radio-group [(ngModel)]="role" name="role" aria-label="Select an option">
                <mat-radio-button value="student">Student</mat-radio-button>
                <mat-radio-button value="teacher">Teacher</mat-radio-button>
            </mat-radio-group>
              
            <input (click)="formSingup()" class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
        </form>
    </div>
</div>